* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

#app {
    margin: 0 auto;
    max-width: 1280px;
    min-width: 570px;
}

header {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	background-color: #ffb6c1;
	padding: 20px 60px 20px 0;
	margin-bottom: 20px;
}



.btn-cart {
	color: #f26376;
	border: 1px solid #ff6a6a;
	text-decoration: none;
	padding: 14px 38px;
	margin-bottom: 30px;
}
.btn-cart:hover {
	background-color: #f26376;
	color: #fff;
	outline: none;
	transition-duration: 0.3s;
}


.icon-cart {
    padding-right: 10px;
}


.products {
	display: grid;
	grid-template: repeat(2, 300px) / repeat(2, 350px);
	justify-content: center;
	grid-gap: 10px;
}

.product-item {
	border: 1px solid #000;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.product-item h3 {
    color: black;
    font-size: 20px;
    font-weight: 600;
    line-height: 0;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 15px;
}

.product-item p {
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}

img {
   max-width: 100px;
	max-height: 100px;
   padding-top: 20px;
}

.buy-btn{
	color: #f26376;
	border: 1px solid #ff6a6a;
	text-decoration: none;
	padding: 14px 38px;
}
.del-btn {
	margin-top: 5px;
	padding: 5px 15px;
	color: #f26376;
	border: 1px solid #ff6a6a;
}

.buy-btn:hover,
.del-btn:hover {
	background-color: #f26376;
	color: #fff;
	outline: none;
	transition-duration: 0.3s;
}



.cart {
    display: flex;
    position: relative;
}

.cart-block {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    box-sizing: border-box;
    right: 0;
    top: 130%;
    position: absolute;
    background-color: white;
    padding: 20px;
    color: black;
    width: 350px;
}

.invisible {
    display: none;
}

.cart-block:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 35px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.out {
    font-weight: bold;
}

.btn-search {
	border-radius: 0 30px 30px 0;
	padding: 20px;
	background: #f16d7f;
	font-size: 14px;
	line-height: 17px;
	color: #ffffff;
	border: none;
}

.btn-search:hover {
	background-color: #f26376;
	color: #fff;
	outline: none;
	transition-duration: 0.3s;
}

.search-form {
	display: flex;
	justify-content: center;
	margin-right: 30px;
}

.search-field::placeholder {
	font-size: 14px;
	line-height: 17px;
	color: #222224;
	opacity: 0.67;
}

.search-field {
	padding: 20px 135px 20px 22px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border: none;
}

.cart-item {
    display: flex;
    justify-content: space-between;
}

.cart-item:not(:last-child) {
    margin-bottom: 20px;
}

.product-bio {
    display: flex;
}

.cart-item img {
    align-self: flex-start;
    margin-right: 15px;
    padding-top: 0;
}

.product-single-price {
    color: black;
    font-size: 0.75em;
}

.product-price {
    margin-left: 30px;
}

.product-desc {
    max-width: 150px;
}

.product-quantity {
    color: black;
    text-align: center;
    margin-top: 15px;
    font-size: 0.75em;
}

.right-block {
    text-align: right;
}

.cart-sum {
    text-align: center;
    margin: 0 auto 15px;
    font-size: 1.15em;
}

.found {
    text-align: center;
}

.error {
    display: flex;
    justify-content: center;
    color: red;
}